<%= form_for(message) do |f| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :conversation_id %>
    <%= f.text_field :conversation_id %>
  </div>

  <div class="field">
    <%= f.label :mentor_id %>
    <%= f.text_field :mentor_id %>
  </div>

  <div class="field">
    <%= f.label :student_id %>
    <%= f.text_field :student_id %>
  </div>

  <div class="field">
    <%= f.label :read %>
    <%= f.check_box :read %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
