<div id="wrapper">
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Student Navigation Tabs -->
                    <div class="row animatedParent">

                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h5>Listening</h5>
                                    <p>
                                        Listen to English recordings.
                                    </p>
                                    <a href= <%= students_listen_path %> class="btn btn-default">Listen</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h5>Speaking</h5>
                                    <p>
                                        Improve your speaking skills.
                                    </p>
                                    <a href=<%= students_speak_path %> class="btn btn-default">Speak</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h5>Reading</h5>
                                    <p>
                                        Compare English and Chinese texts.
                                    </p>
                                    <a href=<%= students_read_path %>  class="btn btn-default">Read</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h5>Writing</h5>
                                    <p>
                                        Practice your English writing skills.
                                    </p>
                                    <a href=<%= students_write_path %>  class="btn btn-default">Write</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h5>Watching</h5>
                                    <p>
                                        Watch English movies and videos.
                                    </p>
                                    <a href=<%= students_watch_path %> class="btn btn-default">Watch</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h5>Chatting</h5>
                                    <p>
                                        Talk to an American mentor through
                                        instant messaging.
                                    </p>
                                    <a href=<%= conversations_path %>  class="btn btn-default">Chat</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
