<%= render :partial => 'shared/navigation'%>
<br />

<%= link_to "New Resource", new_resource_path, class: "btn btn-primary", id: "new_resource" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Name</th>
         <th>Download</th>
         <th>Delete</th>
      </tr>
   </thead>
   
   <tbody>
      <% @resources.each do |resource| %>
         <tr>
            <td><%= resource.name %></td>
            <td><%= link_to "Download", ""%></td>
            <td><%= link_to "Delete", resource_path(resource), method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{resource.name}?" %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>

