<%= render :partial => 'shared/navigation'%>
<h4>Uploads</h4>
<p>The date for a resource is in PST. All file names on your computer must start with YYYY-MM-DD (i.e. 2016-12-01)<p>
<div class="well">
  <h4>Text files</h4>
  <p>Options for names: YYYY-MM-DD_read_english.txt, YYYY-MM-DD_read_chinese.txt, YYYY-MM-DD_speak.txt, YYYY-MM-DD_write.txt<p>
   <%= form_for @resource, url: resources_path, html: { multipart: true } do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.file_field :attachment %>
      <%= f.submit "Save Text", class: "btn btn-primary" %>
   <% end %>
</div>
<div class="well">
  <h4>Video files</h4>
  <p>Options for names: YYYY-MM-DD_watch.mp4<p>
   <%= form_for @resource, url: resources_path, html: { multipart: true } do |f| %>
       <%= f.label :name %>
       <%= f.text_field :name %>
       <%= f.file_field :video %>
       <%= f.submit "Save Video", class: "btn btn-primary" %>
   <% end %>
</div>

<div class="well">
  <h4>Audio files</h4>
  <p>Options for names: YYYY-MM-DD_listen.mp3, YYYY-MM-DD_speak.mp3<p>
   <%= form_for @resource, url: resources_path, html: { multipart: true } do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.file_field :audio %>
      <%= f.submit "Save Audio", class: "btn btn-primary" %>
   <% end %>
</div>
