<!DOCTYPE html>
<html>
  <head>
    <title>Cs169Cucec</title>
    <%= csrf_meta_tags %>

    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render :partial => 'shared/navigation'%>
    
    <%- 3.times do%>
      <br/>
    <%end%>
    
    <%= content_tag :div, alert, class: "alert alert-warning" unless alert.nil? %>
    <%= content_tag :div, notice, class: "alert alert-info" unless notice.nil? %>
    
    <%= yield %>
  </body>
</html>
