<!DOCTYPE html>
<html>
  <head>
    <title>Cs169Cucec</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render layout: 'shared/navbar' do %>
        <li>
            <%= link_to('Dashboard', students_path) %>
        </li>
        <li>
            <a href="/donate/new">Donate</a>
        </li>
        <li>
            <a>Contact</a>
        </li>
        <li>
            <a>About</a>
        </li>
        <li>
            <%= link_to('Logout', destroy_mentor_session_path, :method => :delete) %>
        </li>
    <% end %>
    <%= yield %>
  </body>
</html>
